body {
    font-family: 'Merriweather', serif;
    background-color: rgb(153, 192, 255);
    text-align: center;
}

section:nth-of-type(even) {
    background-color: rgb(200, 220, 255);
    padding: 20px;
    border-radius: 12px;
}

.Name, .Education, .Skills, .Booksmoviestv, .Hobbies, .Artists, .schedule, .Form {
    background-color: whitesmoke;
    border: 3px solid #333;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    width: 70em;
}

.Hobbies, .Artists, .schedule, .Form {
    width: 50em;
}

h1 {
    font-family: 'Sacramento', cursive;
    color: #2c3e50;
    font-size: 5.5rem;
    margin: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #34495e;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #16a085;
}

p, blockquote {
    font-size: large;
}

blockquote {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: green;
}

img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

table {
    border-radius: 10px;
}

.Form form {
    border: 3px dotted #333;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    margin: auto;
}

.Form input,
.Form select,
.Form textarea {
    border-radius: 12px;
    background-color: #e6f2ff;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px 0;
    width: 90%;
    box-sizing: border-box;
}

.mountain {
    position: static;
    width: 100%;
    z-index: 1;
}

.cloud1 {
    position: sticky;
    top: 0;
    width: 200px;
    z-index: 2;
}

.cloud2 {
    position: sticky;
    top: 0;
    width: 200px;
    z-index: 2;
    left: calc(100% - 220px);
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 0 100px;
}

