body {
  background-color: #2c3e50;
  color: #f9e79f;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #f9e79f;
}

.dice p {
  font-family: 'Indie Flower', cursive;
  color: #f9e79f;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h1 {
  margin: 30px;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}
