html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #4f84bc 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #4f84bc 50%;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #330386;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #585858;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  padding: 5px 10px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  padding: 5px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #000000;
}

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

footer {
  color: #000000;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: auto;
}

li {
  margin: 10px 0;
}

.task {
  transition: color 0.2s, text-decoration 0.2s;
}

input[type="checkbox"]:checked + .task {
  color: #aaa;
  text-decoration: line-through;
}

input[type='text'] {
  padding: 5px;
  width: 70%;
}

button {
  padding: 5px 10px;
}

@media (max-width: 600px) {
  ul {
    max-width: 95vw;
  }

  input[type='text'] {
    width: 60vw;
  }
}