body{
    background-color: rgb(255, 229, 198);
}
.top-container{
    width: 200px;
    height: 200px;
    border: 10px solid #333;
    padding: 20px;
    background-color:blue;   
}
.middle-container{
    width: 200px;
    height: 200px;
    border: 20px solid #333;
    padding: 20px;
    background-color:red;
    position: relative;
    left: 260px;
}
.bottom-container{
    width: 200px;
    height: 200px;
    border: 10px solid #333;
    padding: 20px;
    background-color:yellow;
    position: relative;
    left: 540px;
}
