body {
background-color: beige;
}
.top{
    width: 200px;
    height: 200px;
    background-color: red;
}
.mid{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.bot{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.top1{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    top: -500px;
    left: 900px;
}
.mid1{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
    top: -700px;
    left: 500px;
}
.bot1{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: yellow;
    top: -900px;
    left: 700px;
}