<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet"  href="css/styles.css">
</head>
<body>
    <header style="background-color:#f4f4f4; padding:20px; text-align:center;">
  <img src="images/StarLion.png" alt="Lion Brewery" style="width:150px;" />
  <h1>Welcome to my site</h1>
  <nav>
    <p>Post and get method</p>
  </nav>
</header>
<hr />

</body>
</html>