<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greeting Page</title>
  <link rel="stylesheet"  type="text/css" href="/css/styles.css">
</head>
<body>
  <%- include('header') %>
  <main style="padding: 20px; text-align:center;">
    <h2>Welcome, <%= name %>!</h2>
    <p>Your login method was: <strong><%= method %></strong></p>
    <a href="/home">go to home</a>
    <a href="/">home</a>
  </main>
  <%- include('footer') %>
</body>
</html>
